body .ArticlePage-lede-content:before,
body .AuthorPage-lede-content:before,
body .GalleryPage-lede-content:before,
body .Page-above,
body *[aria-label="Advertisement"],
body .Page-above.loaded {
  display: none !important;
}

@media only screen and (min-width: 768px) {
  body .ArticlePage-lede-content,
  body .AuthorPage-lede-content,
  body .GalleryPage-lede-content {
    padding: 3rem 0;
  }
  html.AuthorPage body .Page-content .Page-twoColumn,
  html.ArticlePage body .Page-content .Page-twoColumn,
  html.GalleryPage body .Page-content .Page-twoColumn {
    grid-template-columns: minmax(auto, 800px) 1fr;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
}
